<h1>Welcome to Rails on Docker!</h1>
<p>This was created with the following tutorial:</p>
<a href="https://www.freecodecamp.org/news/painless-rails-development-environment-setup-with-docker/">Painless Rails on Docker</a>
